{% extends "layout.html" %} {% block body %}

<div class="old_subtitle">
    <p id="enterlist_subtitle">Enter a list to be sorted </p>

    <p class="check">&#x2713;</p>

    {% if "list" in entries %} {% set list = entries["list"] %}
    <p id="list_subtitle">[ {% for item in list[:10] %} {{item}} {{ "," if not loop.last }} {% endfor %} {% if list|length > 10 %} {{ "..." }} {% endif %} ]
    </p><br id="breakpoint"> {% endif %}

    <p id="algorithm_subtitle">Choose algorithm </p>

    <p class="check">&#x2713;</p>

    {% if "algorithms" in entries %} {% set alg_list = entries["algorithms"] %}
    <p id="alg_list_subtitle">
        {% for item in alg_list[:3] %} {% if item == "bubble" %} {{ "Bubble" }} {% elif item == "counting" %} {{ "Counting" }} {% elif item == "insertion" %} {{ "Insertion" }} {% elif item == "merge" %} {{ "Merge" }} {% elif item == "quick" %} {{ "Quick" }} {% endif %} {{ "," if not loop.last }} {% endfor %} {% if alg_list|length > 3 %} {{ "..." }} {% endif %}
    </p>
    {% endif %}

</div>

<p class="subtitle">Visualization</p>
    <p id="previous" class="links2" onclick="previous()">Previous</p>
    <p id="play" class="links2" onclick="play()">Play</p>
    <p id="next" class="links2" onclick="next()">Next</p>

<canvas id="myCanvas" width="1110" height="760">
    </canvas>
<br><br>
<div class="row text-center">
    <div class="col">
        <a href="{{ url_for('visualize') }}" class="links">Rerun</a>
    </div>
    <div class="col">
        <a href="{{ url_for('benchmark') }}" class="links">Benchmark</a>
    </div>
    <div class="col">
        <a href="{{ url_for('add_algorithm') }}" class="links">New Algorithm</a>
    </div>
    <div class="col">
        <a href="{{ url_for('add_list') }}" class="links">New List</a>
    </div>
    <div class="col">
        <a href="{{ url_for('enter_list') }}" class="links">Quit</a>
    </div>
</div>
<br>

<script>
    //Input data needed

    var squarenumber = {{ squarenumber }};
    var squarecolourpair = {{ squarecolourpair }};
    var array = {{ array }};
    var noflinesofpsuedocode = {{ noflinesofpsuedocode }};
    var steps = {{ steps }};
    var executingline = {{ pseudocode }};
    var algorithmnumber = {{ algorithmnumber }};

    console.log(executingline);
    console.log(steps);
    console.log(array);
    console.log(noflinesofpsuedocode);
    console.log(squarecolourpair);

    function pseudo_highlight(p, ctx) {
        
    }
    
    
    // CREATING SQUARES OF REQUIRED ARRAY SIZE
    function SQUARES(sizeofarray, J, p, index_p) {
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');
        var width = canvas.width;
        var height = canvas.height;

        //Seperation line
        ctx.fillStyle = 'black';
        ctx.fillRect(600, 0, 2, 760);

        var rectSize = 40;
        for (var i = 0; i < sizeofarray; i++) {

            if (i < 10) {
                j = i;
                column = 0;
            } else if (i >= 10 && i < 20) {
                j = i - 10;
                column = 1;
            } else if (i >= 20 && i < 30) {
                j = i - 20;
                column = 2;
            } else if (i >= 30 && i < 40) {
                j = i - 30;
                column = 3;
            } else if (i >= 40 && i < 50) {
                j = i - 40;
                column = 4;
            } else if (i >= 50 && i < 60) {
                j = i - 50;
                column = 5;
            } else if (i >= 60 && i < 70) {
                j = i - 60;
                column = 6;
            } else if (i >= 70 && i < 80) {
                j = i - 70;
                column = 7;
            } else if (i >= 80 && i < 90) {
                j = i - 80;
                column = 8;
            } else if (i >= 90 && i < 100) {
                j = i - 90;
                column = 9;
            }

            if (i == squarecolourpair[J][0]) {
                ctx.fillStyle = 'maroon';
                ctx.fillRect((60 * j), (60 * column), rectSize, rectSize);
                ctx.fillStyle = 'white';
                ctx.font = "bold 1rem Arial";
                ctx.fillText(array[J][i], 11 + (60 * j), 26 + (60 * column));
            } else if (i == squarecolourpair[J][1]) {
                ctx.fillStyle = 'black';
                ctx.fillRect((60 * j), (60 * column), rectSize, rectSize);
                ctx.fillStyle = 'white';
                ctx.font = "bold 1rem Arial";
                ctx.fillText(array[J][i], 11 + (60 * j), 26 + (60 * column));
            } else {
                ctx.fillStyle = 'grey';
                ctx.fillRect((60 * j),(60 * column), rectSize, rectSize);
                ctx.fillStyle = 'white';
                ctx.font = "bold 1rem Arial";
                ctx.fillText(array[J][i], 11 + (60 * j), 26 + (60 * column));
            }
        }
//        for (var q = 0; q < p.length; q++) {
//            pseudo_highlight(p, ctx);
//        }
        for (x = 0; x < noflinesofpsuedocode; x++) {
            if (p[index_p] == x) { 
                ctx.fillStyle = 'grey';
            } else {
                ctx.fillStyle = 'white';
            }
            ctx.fillRect(615, 42 + (x * 30), 495, 25);
        }
        
        if (algorithmnumber == 0) {
                ctx.fillStyle = 'black';
                ctx.font = "1rem Arial";
                ctx.fillText("for i in range(0 to length(list)):", 620, 60);
                ctx.fillText("for index in range(0 to length(list) - i - 1):", 670, 90);
                ctx.fillText("if list[index] > list [index + 1]", 720, 120);
                ctx.fillText("swap(list[index], list[index + 1]", 770, 150);
            } else if (algorithmnumber == 1) {
                ctx.fillStyle = 'black';
                ctx.font = "1rem Arial";
                ctx.fillText("Max = largest element in List", 620, 60);
                ctx.fillText("Count = a new list of length(max + 1)", 620, 90);
                ctx.fillText("For number in List:", 620, 120);
                ctx.fillText("Increment Count[number] ", 670, 150);
                ctx.fillText("index=0", 620, 180);
                ctx.fillText("For values in range(0 to max + 1):", 620, 210);
                ctx.fillText("For number in range(0 to count[value]):", 670, 240);
                ctx.fillText("List[index] = value", 720, 270);
                ctx.fillText("Increment index", 720, 300);
            } else if (algorithmnumber == 2) {
                ctx.fillStyle = 'black';
                ctx.font = "1rem Arial";
                ctx.fillText("for index in range(1 to length(list)):", 620, 60);
                ctx.fillText("list_item = list[index]", 670, 90);
                ctx.fillText("location = index", 670, 120);
                ctx.fillText("while location > 0 and list[location-1] > list_item:", 670, 150);
                ctx.fillText("list[location] = list[location-1]", 720, 180);
                ctx.fillText("location = location - 1", 720, 210);
                ctx.fillText("list[location] = list_item", 670, 240);
                ctx.fillText("list[location] = list_item", 620, 270);
            } else if (algorithmnumber == 3) {
                ctx.fillStyle = 'black';
                ctx.font = "1rem Arial";
                ctx.fillText("def mergeSort(list):", 620, 60);
                ctx.fillText("if length(list) > 1:",  670, 90);
                ctx.fillText("midway_point = length(list) / 2",  720, 120);
                ctx.fillText("lefthalf = list[beginning to midway_point]",  720, 150);
                ctx.fillText("righthalf = list[midway_point to end]",  720, 180);
                ctx.fillText("mergeSort(lefthalf)",  720, 210);
                ctx.fillText("mergeSort(righthalf)", 720, 240);
                ctx.fillText("i,j,k = 0",  720, 270);
                ctx.fillText("while i < length(lefthalf) and j < length(righthalf):",  720, 300);
                ctx.fillText("if lefthalf[i] < righthalf[j]:",  770, 330);
                ctx.fillText("list[k] = lefthalf[i]",  630, 360);
                ctx.fillText("i = i+1",  820, 390);
                ctx.fillText("else:", 770, 420);
                ctx.fillText("list[k] = righthalf[j]",  820, 450);
                ctx.fillText("j = j+1",  820, 480);
                ctx.fillText("k = k+1",  770, 510);
                ctx.fillText("while i < length(lefthalf):",  720, 540);
                ctx.fillText("list[k] = lefthalf[i]",  770, 570);
                ctx.fillText("i = i+1", 770, 600);
                ctx.fillText("k=k+1",  770, 630);
                ctx.fillText("while j < length(righthalf):",  720, 660);
                ctx.fillText("list[k] = righthalf[j]",  770, 690);
                ctx.fillText("j=j+1",  770, 720);
                ctx.fillText("k=k+1",  770, 750);
            } else if (algorithmnumber == 4) {
                ctx.fillStyle = 'black';
                ctx.font = "1rem Arial";
                ctx.fillText("quicksort(list, first, last): /* first = starting index, last = ending index */", 620, 60);
                ctx.fillText("If (first < last):",  670, 90);
                ctx.fillText("Splitpoint = partition(list, first, last)",  720, 120);
                ctx.fillText("quicksort(list, first, splitpoint-1)",  720, 150);
                ctx.fillText("quicksort(list, splitpoint-1, last)",  720, 180);
                ctx.fillText("partition(list, first, last)",  670, 210);
                ctx.fillText("Pivot = list[first]", 670, 240);
                ctx.fillText("Leftmark = first + 1",  670, 270);
                ctx.fillText("Rightmark = last",  670, 300);
                ctx.fillText("Done  = False",  670, 330);
                ctx.fillText("While not done:",  670, 360);
                ctx.fillText("While leftmark <= rightmark and list[leftmark] <= pivot:",  720, 390);
                ctx.fillText("Increment Leftmark", 770, 420);
                ctx.fillText("While list[rightmark] >=pivot and rightmark >= leftmark:",  720, 450);
                ctx.fillText("Increment rightmark",  770, 480);
                ctx.fillText("If rightmark < leftmark:",  720, 510);
                ctx.fillText("Done = True",  770, 540);
                ctx.fillText("Else:",  720, 570);
                ctx.fillText("Swap list[leftmark], list[rightmark]", 770, 600);
                ctx.fillText("If first != rightmark:",  670, 630);
                ctx.fillText("Swap list[first], list[rightmark]",  720, 660);
            }
            ctx.fillStyle = 'white';
            ctx.fillRect(620, 0, 490, 16);
            ctx.fillStyle = 'black';
            ctx.font = "bold 1rem Arial";
            ctx.fillText("Psuedocode:", 620, 14);
    }

    // Helper function found at https://stackoverflow.com/questions/22815790/set-a-delay-timeout-inside-a-double-nested-loop
    
    // helper function
    var delayed = (function() {
    var queue = [];
        
    function processQueue() {
        if (queue.length > 0) {
          setTimeout(function () {
            queue.shift().cb();
            processQueue();
          }, queue[0].delay);
        }
    }

    return function delayed(delay, cb) {
        queue.push({ delay: delay, cb: cb });

        if (queue.length === 1) {
          processQueue();
        }
      };
    }());
    
    function play() {
        for (var i = 0; i < steps; i++) {
            pseudo = executingline[i]
            for (var j = 0; j < pseudo.length; j++) {
                delayed(1000, function(i, j) {
                    return function() {
                        SQUARES(squarenumber,i,executingline[i], j);
                    };
                }(i, j));
            }
        }
    }
    
    SQUARES(squarenumber,0, [], 0);
    
    var a = 0;
    var b = 0;
    function next() {
        if (a < steps) {
            pseudo = executingline[a]
            if (pseudo.length == 0) {
                a++;
                pseudo = executingline[a]
            }
            if (b < pseudo.length) {
                SQUARES(squarenumber,a,executingline[a], b);
                b++;
                if (b >= pseudo.length) {
                    b = 0;
                    a++;
                }
                
            }
        }
    }
    
    function previous() {
        if (b == 0) {
            if (a > 0) {
                a--;
                pseudo = executingline[a];
                if (pseudo.length == 0 && a == 0) {
                    SQUARES(squarenumber,0, [], 0);
                } else {
                    b = pseudo.length - 1;
                    SQUARES(squarenumber,a,executingline[a], b);
                }
            }
        } else {
            b--;
            SQUARES(squarenumber,a,executingline[a], b);
        }
    }

</script>

{% endblock %}
